/** Custom styles */
.homepage-grid {
    
    & .card {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    & p {
        color: $black;
    }

    & h5 {
        color: $primary;
    }

    & a.card-body {
        transition: transform 100ms ease-in-out;
        text-decoration: none;
    }

}